{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" href="{% static 'css/ctyle.css' %}">
</head>
<body>
<header>
    <div class="rasm">
        <div class="black"></div>
        <img class="rasm1" src="https://i.ytimg.com/vi/KlEODDFLyfw/maxresdefault.jpg">
    </div>
    <form method="get" class="joy">
        <input name="num1" type="number" placeholder="Son1" class="num1">
        <input name="amal" type="text" placeholder="Amal" class="amal">
        <input name="num2" type="number" placeholder="Son2" class="num2">
        <h1 class="resultat">Natija: {{ result }}</h1>
        <button type="submit" class="sum">Hisoblash</button>
    </form>

{#    <div class="joy">#}
{#        <img src="img.png" class="rasm">#}
{#        <h2 class="text">Tanishing Bizning Bolajak Yosh Ensteynimiz</h2>#}
{#        <h2 class="about">Bolajak Enshteynimiz Haqida Qisqacha😉:</h2>#}
{#        <h3 class="about1">#}
{#            Bu Bola Ismi: Abdurahmon#}
{#            Familyasi: Abduvaliyev#}
{#            Ochestva: Bilmiman#}
{#            Tugilgan Joyi: Parosattan Keyin#}
{#            Qobilyatlari: Mukammal Telegram Bot Yasovchi, Saytlar Yasay Oladi Va Boshqa! "Senior Dasturchi" (Qoshtirnog' Ichida Albatta)#}
{#        </h3>#}
{#    </div>#}
</header>
</body>
</html>